.landing{
  height: 100vh;
  text-align: center;
  animation: blur-in-center 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;

  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./../../assets/projects/fhbackground.webp");
  background-position-x: center;
  background-size: cover;
  /* width: 100%; */
  
}

.franz{
  max-width: 80vh;
  min-width: 40vh;
  filter: drop-shadow(2px 4px  rgb(255, 255, 255)); 
  backdrop-filter: blur(0.3px);
  backdrop-filter: brightness(1.1);
  border-radius: 100px;
  animation: text-pop-up-top 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@media (max-width: 768px) {
  .landing {
    height: auto;
    min-height: 100vh; 
    padding: 20px; 
  }
  .franz{
    width: 100%;
  }
}

@keyframes blur-in-center {
  0% {
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 1;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
            backdrop-filter: brightness(1.0);
    opacity: 1;
  }
}

@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}