.landing{
  height: 100vh;
  text-align: center;

  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./../../assets/projects/fhbackground.webp");
  background-position-x: center;
  background-size: cover;
  /* width: 100%; */
  
}

.franz{
  max-width: 80vh;
  min-width: 40vh;
  filter: drop-shadow(2px 4px  rgb(255, 255, 255)); 
  backdrop-filter: blur(0.3px);
  backdrop-filter: brightness(1.1);
  border-radius: 100px;
}


@media (max-width: 768px) {
  .landing {
    height: auto;
    min-height: 100vh; 
    padding: 20px; 
  }
  .franz{
    width: 100%;
  }
}