.landing{
  height: 100vh;
  text-align: center;
  animation: blur-in-center 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;

  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./../../assets/projects/fhbackground.webp");
  background-position-x: center;
  background-size: cover;
  /* width: 100%; */
  
}

.franz{
  max-width: 80vh;
  min-width: 40vh;
  filter: drop-shadow(2px 4px  rgb(255, 255, 255)); 
  backdrop-filter: blur(0.3px);
  backdrop-filter: brightness(1.1);
  border-radius: 100px;
}


@media (max-width: 768px) {
  .landing {
    height: auto;
    min-height: 100vh; 
    padding: 20px; 
  }
  .franz{
    width: 100%;
  }
}

@keyframes blur-in-center {
  0% {
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 1;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
            backdrop-filter: brightness(1.0);
    opacity: 1;
  }
}
