.landing{
  height: 100vh;
  text-align: center;

  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./../../assets/projects/fhbackground.webp");
  background-position-x: center;
  background-size: cover;
  
}

.franz{
  min-width: 50vh;
  filter: drop-shadow(2px 4px  rgb(255, 255, 255)); 
  backdrop-filter: blur(0.3px);
  backdrop-filter: brightness(1.1);
  border-radius: 100px;
}


@media (max-width: 768px) {
  .landing {
    height: auto; /* Allow the height to adjust based on content */
    min-height: 100vh; /* Ensure it takes at least the full viewport height */
    padding: 20px; /* Add some padding for better mobile layout */
  }
}