.services{
  height: 95vh;
  background-color: #1472FD;
  padding:5rem 6rem;
  text-align: center;
  font-size: 20px;
}
.services-container{
  display: flex;
  justify-content:space-around ;
  text-align: left;
  height: min-content;
}

.icons{
  width: 200px;
  height: 200px;
  filter: grayscale(100%)
}

.card{
  background-color: white;
  height: 400px;
  width: 200px;
  color: black;
  padding: 40px;
  filter: drop-shadow(5px 4px  rgb(0, 0, 0)); 
}

@media (max-width: 768px) {
  .services {
    height: auto; 
    min-height: 100vh;
    padding: 10px; 
  }
  .services-container{
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-gap: 10px;
    justify-content: center;
  }
  .icons{
    width: 100px;
    height: 100px;
  }
  .card{
    width: 100px;
    height: 200px;
  }
  .desc{
    display: none;
  }
}