.contact-component{
  height: 100vh;
  padding: 5rem;
  background-color: #1472FD;
  /* padding:5rem 6rem; */
}

.contact-div{
  color: black;
  /* height: 100vh; */
  width: 100%;
  background-color: aliceblue;
  padding: 1rem;
  padding-bottom: 5rem;
  display: flex;
  justify-content: space-evenly;
  filter: drop-shadow(5px 4px  rgb(0, 0, 0)); 

}

.call{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 222px;
}

.form{
  display: flex;
  flex-direction: column;
}

.email{
  max-width: 300px;
  min-width: 300px;
}

.form-name-input, .form-email-input{
  color: black;
  height: 20px;
  background-color: white;
  border: 2px solid #40445c;
  filter: drop-shadow(5px 4px  rgb(0, 0, 0)); 
  margin-bottom: 10px;
  padding: 5px;
}

.form-message-input{
  color: black;
  height: 70px;
  background-color: white;
  border: 2px solid #40445c;
  filter: drop-shadow(5px 4px  rgb(0, 0, 0)); 
  margin-bottom: 20px ;
  padding: 5px;
}

.form-name, .form-email, .form-message{
  font-weight: 900;
}

.call-btn{
  border-radius: 1px;
}

.btn-send, .call-btn{
  font-weight: 900;
  font-size: 14px;
  width: 100px;
  padding: 5px;
  background-color: #1472FD;
  border: solid #40445c 1px ;
  filter: drop-shadow(5px 4px  rgb(0, 0, 0)); 
}

@media (max-width: 768px) {
  .contact-component{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 130px;

  }
  .contact-div{
    flex-direction: column;
    min-width: 200px;
    max-width: 70dvw;

  }
  .form-name-input, .form-email-input, .form-message-input{
    width: 69%;
  }
  .form{
    width: 80%;
  }
  .email{
    width: 50px
  }
}