.contact-component{
  height: 100vh;
  padding: 5rem;
  background-color: #1472FD;
  /* padding:5rem 6rem; */
}

.contact-div{
  color: black;
  /* height: 100vh; */
  width: 100%;
  background-color: aliceblue;
  padding: 1rem;
}

.call{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 222px;
}