.contact-component{
  height: 100vh;
  padding: 5rem;
  background-color: #1472FD;
  /* padding:5rem 6rem; */
}

.contact-div{
  color: black;
  /* height: 100vh; */
  width: 100%;
  background-color: aliceblue;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.call{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 222px;
}

.form{
  display: flex;
  flex-direction: column;
}

.email{
  max-width: 300px;
  min-width: 300px;
}

.form-name-input, .form-email-input{
  color: black;
  height: 20px;
  background-color: white;
  border: 2px solid #40445c;
  filter: drop-shadow(5px 4px  rgb(0, 0, 0)); 
  margin-bottom: 10px;
  padding: 5px;
}

.form-message-input{
  color: black;
  height: 70px;
  background-color: white;
  border: 2px solid #40445c;
  filter: drop-shadow(5px 4px  rgb(0, 0, 0)); 
  margin-bottom: 20px ;
  padding: 5px;
}