.about-comp{
  background-color: #1472FD;
  height: 100vh;
}

.about-container{
  display: flex;
  padding: 10rem 10rem;
  flex-direction: row;
  justify-content: space-around;
}

span {
  border: 1px solid white;
  margin: 0 20px;
}

.about{
  background-color: #1472FD;
  padding: 0 5rem;
  width: 15rem;
  border: solid #8A8EBA 3px;
  border-radius: 1px;
  filter: drop-shadow(5px 4px  rgb(0, 0, 0)); 
  
}

iframe{
  border-radius:10px;
  border: solid #8A8EBA 3px;
  filter: drop-shadow(5px 4px  rgb(0, 0, 0)); 

}

.about-title{
  font-size: 23px;
}

@media (max-width: 768px) {
  .about-comp {
    height: auto;
    min-height: 100vh;
    padding: 20px; 
  }
  .about{
    width: 80%;
    padding: 20px;
  }
  
  .about-container{
    flex-direction: column;
    padding: 0px;
    
  }
  iframe{
    width: 90%;
  }
  span{
    display: none;
  }

}