.about-comp{
  background-color: #1472FD;
  height: 100vh;
}

.about-container{
  display: flex;
  padding: 5rem;
  flex-direction: row;
  justify-content: space-around;
}

span {
  border: 1px solid white;
  margin: 0 20px;
}

.about{
  padding: 0 5rem;
  width: 15rem;
  border: solid #8A8EBA 3px;
  border-radius: 20px;
  
}

iframe{
  border-radius: 20px;
  border: solid #8A8EBA 3px;

}

.about-title{
  font-size: 23px;
}