.gallery-div{
  height: 100vh;
  background-color: #1472FD;
  padding:7rem 4rem;
}

.gallery-container{
  background-color: white;
  width: 100%;
  height: 80%;
  filter: drop-shadow(5px 4px  rgb(0, 0, 0)); 

}

.gallery{
  padding: 4rem;
  display: flex;
  height: inherit;
  overflow-x: scroll;
  animation: scroll 10s linear infinite;
  scrollbar-width: thin;
  /* will-change: transform; */

}

.images{
  margin:0 10px;
  border: 2px solid #F8F9FF;
  filter: drop-shadow(5px 4px  rgb(0, 0, 0)); 
  scroll-behavior: smooth;
}

.projects{
  font-size: 30px;
}

@media (max-width: 768px) {
  .gallery-div{
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .gallery-container{
    width: 300px;
  
  }
}
/* @keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
} */