.gallery-div{
  height: 100vh;
  background-color: #1472FD;
  padding: 4rem;
}

.gallery-container{
  background-color: white;
  width: 100%;
  height: 80%;
}

.gallery{
  padding: 4rem;
  display: flex;
  height: inherit;
  overflow-x: scroll;

}

.images{
  margin:0 10px;
  border: 2px solid #F8F9FF;
  filter: drop-shadow(5px 4px  rgb(0, 0, 0)); 
}

.projects{
  font-size: 30px;
}