.nav-bar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1471fd9d;
  height: 2rem;
  width: 100%;
  padding: 10px;
  z-index: 99;
  color: rgb(0, 0, 0);
  transition: background-color 1s;

}

.nav-bar:hover{
  transition: background-color 1s;
  background-color: #1471fd;

}

.dropdown-toggle {
  display: none;
}

.nav-title {
  margin: 0;
  font-weight: 900;
  font-style: italic;
  font-size: 25px;
}

.nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin-right: 30px;
}

.nav-item{
  color: black;
}
.mobile-nav{
  display: none;
}
.nav li {
  margin-left: 4px;
  padding: 8px;
  color: black;
}

.nav li:hover {
  font-weight: 900;
}

@media (max-width: 768px) {
  .nav-title{
    display: none;
  }
  
  .mobile-nav{
    display: flex;
  }
  .nav{
    display: none;
    background-color: rgba(0, 0, 0, 0);

  }
  .nav-menu{
    display: flex;
    opacity: 0;
    transform: translateX(-100%);
    list-style: none;
    width: 300px;
    justify-content: space-evenly;
    transition: opacity 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940), transform 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    pointer-events: none; 
  }
  .nav-menu.open{
    display: flex;
    list-style: none;
    width: 300px;
    justify-content: space-evenly;
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
  }
  .nav-btn{
    background-color: #1471fd;
    border-radius: 50px;
    padding: 5px;
  }
  .nav-bar{
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1000;
    font-size: 10px;
  }
  .nav-item{
    padding: 10px;
  }
  .dropdown-toggle {
    display: flex;
    background-color: #1471fd;
    filter: drop-shadow(4px 4px white);
  }
  .nav-bar:hover{
    background-color: rgba(0, 0, 0, 0);
  }
}

@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
}


@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}