.nav-bar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1471fd9d;
  height: 2rem;
  width: 100%;
  padding: 10px;
  z-index: 99;
  color: rgb(0, 0, 0);
  transition: background-color 1s;

}

.nav-bar:hover{
  transition: background-color 1s;
  background-color: #1471fd;

}

.nav-title {
  margin: 0;
  font-weight: 900;
  font-style: italic;
  font-size: 25px;
}

.nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin-right: 30px;
}

.nav-item{
  color: black;
}
.mobile-nav{
  display: none;
}
.nav li {
  margin-left: 4px;
  padding: 8px;
  color: black;
}

.nav li:hover {
  font-weight: 900;
}

@media (max-width: 768px) {
  .nav-title{
    display: none;
  }
  
  .mobile-nav{
    display: flex;
  }
  .nav{
    display: none;
    background-color: rgba(0, 0, 0, 0);

  }
  .nav-menu{
    display: none;
  }
  .nav-menu.open{
    display: flex;
    list-style: none;
    width: 300px;
    justify-content: space-evenly;
  }
  .nav-btn{
    background-color: #1471fd;
    border-radius: 50px;
    padding: 5px;
  }
  .nav-bar{
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1000;
    font-size: 10px;
  }
  .nav-item{
    padding: 10px;
  }
  .nav-bar:hover{
    background-color: rgba(0, 0, 0, 0);
  }
}