.nav-bar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  height: 2rem;
  width: 100vw;
  padding: 10px;
  z-index: 99;
}

.nav-title {
  margin: 0;
  font-weight: 900;
}

.nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav li {
  margin-left: 4px;
  padding: 18px;
}