.nav-bar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1471fd9d;
  height: 2rem;
  width: 100%;
  padding: 10px;
  z-index: 99;
  color: rgb(0, 0, 0);
  transition: background-color 1s;

}

.nav-bar:hover{
  transition: background-color 1s;
  background-color: #1471fd;

}

.nav-title {
  margin: 0;
  font-weight: 900;
  font-style: italic;
  font-size: 25px;
}

.nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin-right: 30px;
}

.nav li {
  margin-left: 4px;
  padding: 8px;
}

.nav li:hover {
  font-weight: 900;
}

@media (max-width: 768px) {
  .nav-title{
    display: none;
  }
  .nav-bar{
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1000;
    font-size: 10px;
  }
}